<% if (Array.isArray(opt.banners) && opt.banners.length) { %>
  <% const colSize = Math.ceil(12 / opt.banners.length) %>
  <div class="banners-grid my-3 my-md-4 my-lg-5">
    <div class="container">
      <% if (opt.banners.length > 5) { %>
        <div
          class="glide minibanners_slider"
          data-wait-mutation="false"
          data-autoplay="3000"
          data-per-view="6"
          data-per-view-md="5"
          data-per-view-sm="3"
        >
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              <% for (let i = 0; i < opt.banners.length; i++) { %>
                <li class="glide__slide ">
                  <%- await include('@/sections/inc/banner', { _, opt: opt.banners[i] }) %>
                </li>
              <% } %>
            </ul>
            
              <div
                class="glide__arrows glide__arrows--outer setas_"
                data-glide-el="controls"
              >
              <button
                class="btn glide__arrow glide__arrow--left"
                data-glide-dir="<"
                aria-label="<%= _.dictionary('previous') %>"
              >
                <i class="i-chevron-left"></i>
              </button>
              <button
                class="btn glide__arrow glide__arrow--right"
                data-glide-dir=">"
                aria-label="<%= _.dictionary('next') %>"
              >
                <i class="i-chevron-right"></i>
              </button>
            </div>
            
        </div>    
      <% } else { %>
        <div class="row">
          <% for (let i = 0; i < opt.banners.length; i++) { %>
            <div class="col-12 col-lg-<%= colSize %> mb-3 mb-lg-0">
              <%- await include('@/sections/inc/banner', { _, opt: opt.banners[i] }) %>
            </div>
          <% } %>
        </div>
      <% } %>
    </div>
  </div>
<% } %>
