<%
const { body } = await _.resolveRoute()
_.breadcrumbs = [{
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
}]
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    
    <% console.log(_.state)%>

    

    <% if(_.state.pictures && _.state.pictures[0]){%>
      <div class="brand_banner px-md-5 container-fluid">
        <img class="w-100" src="<%= _.state.pictures[0].url %>" alt="<%= _.state.name %>"/>
      </div>
    <% } %>
      
    <div class="brand_menu px-md-5">
      <ul>
        <li>
          <button type="button" class="py-3 px-0 active">História</button>
        </li>
        <li>
          <button type="button" class="py-3 px-0">Sobre o produtor</button>
        </li>
        <li>
          <button type="button" class="py-3 px-0">Destaques</button>
        </li>
        <li>
          <button type="button" class="py-3 px-0">Enólogo</button>
        </li>
        <li>
          <button type="button" class="py-3 px-0">Produtos</button>
        </li>
      </ul>
    </div>

    <div class="container-fluid">
      
      <% if(_.state.name){%>
        <div class="row">
          <h1 class="brand_title"><%= _.state.name %></h1>
        </div>
      <% } %>

      <% if(_.state.body_html){%>
        <div class="row">
          <h1 class="brand_html"><%- _.state.body_html %></h1>
        </div>
      <% } %>
      
    </div>
    

    <%- await include('@/layout/sections') %>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>


