<%
const { body } = await _.resolveRoute()
_.breadcrumbs = [{
  name: _.ecomUtils.name(body),
  link: `/${body.slug}`
}]
%>

<!doctype html>
<html lang="<%= _.lang.replace('_', '-') %>" dir="ltr">

<head>
  <%- await include('@/head') %>
</head>

<body
  id="page-<%= _.pageName %>"
  class="_<%= _.route.path.replace(/\//g, '_') %>"
  <% if (_.route.resource) { %>
    data-resource="<%= _.route.resource %>"
    data-resource-id="<%= _.state._id %>"
  <% } else if (_.route.collection) { %>
    data-cms-collection="<%= _.route.collection %>"
  <% } %>
>
  <%- await include('@/layout/menu') %>

  <main role="main" id="main">
    <%- await include('@/layout/header') %>
    
    <% 
    //console.log(_.state)
    
    const apx_brand = _.cms('apx_brandPage') && _.cms('apx_brandPage').brand.find(el => el.title == _.state.slug)
    console.log(apx_brand)
    
    %>

    

    <% if(_.state.pictures && _.state.pictures[0]){%>
      <div class="brand_banner px-md-5 container-fluid">
        <img class="w-100" src="<%= _.state.pictures[0].url %>" alt="<%= _.state.name %>"/>
      </div>
    <% } %>
      
    <div class="brand_menu px-md-5">
      <ul>
        <li>
          <a class="py-3 px-0 active" href="#historia">História</a>
        </li>
        <li>
          <a class="py-3 px-0" href="#sobre-o-produtor">Sobre o produtor</a>
        </li>
        <li>
          <a class="py-3 px-0" href="#destaques">Destaques</a>
        </li>
        <li>
          <a class="py-3 px-0" href="#enologo">Enólogo</a>
        </li>
        <li>
          <a class="py-3 px-0" href="#produtos">Produtos</a>
        </li>
      </ul>
    </div>

    <div class="container-fluid container-extra-small">      
      <div id="historia" >
        <% if(_.state.name){%>
          <div class="row mt-5 mb-3">
            <div class="col-12">
              <h1 class="brand_title text-center"><%= _.state.name %></h1>
            </div>
          </div>
        <% } %>

        <% if(apx_brand && apx_brand.history || _.state.body_html){%>
          <div class="row">
            <div class="col-12">
              <div class="brand_html text-center"><%- apx_brand && apx_brand.history || _.state.body_html %></div>
            </div>
          </div>
        <% } %>
      
        <% if (apx_brand && apx_brand.history_image) {%>
        <div class="row my-5">
          <div class="col-12">
            <div class="brand_history_image text-center">
              <img src="<%- apx_brand.history_image %>" class="w-100 ml-auto mr-auto"/>
            </div>
          </div>
        </div>
        <% } %>
      </div>
      <%  if(apx_brand && apx_brand.props){ %>
      <div id="sobre-o-produtor">
        <div class="row">
          <div class="col-12">
            <h2  class="brand_title text-center mb-4">Sobre o produtor</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="brand_specifications">
              <div class="row align-items-start justify-content-center text-center">
                <%for (let item in apx_brand.props){ %>    
                  <div class="col-md-3 col-6 item mb-3">
                    <img src="<%- apx_brand.props[item].image %>"/>
                    <strong><%- apx_brand.props[item].title %></strong>
                    <span><%- apx_brand.props[item].description %></span>
                  </div>              
                <% } %>
              </div>
            </div>
          </div>
        </div>     
      </div>  
      <% } %>     
    </div>

    <% 
        const search = new _.EcomSearch()
        await search.setBrandIds([_.state._id]).fetch(true)
        const items = search.getItems().filter(item => _.ecomUtils.inStock(item))

        if(items.length){
      %> 
  
        <section
          class="apx_product-list my-5"
          data-num_col_sm="1"
          data-carrossel_sm="Sim"
          data-num_col_md="3"
          data-carrossel_md="Sim"
          data-carrossel_dots_md="Sim"
          data-carrossel_arrows_md="Sim"
          data-carrossel_dots_sm="Sim"
          data-carrossel_arrows_sm="Sim"

          id="destaques"
        >
        <div class="container-fluid px-1 px-md-5 pb-5">
          <div class="row">
            <div class="col-12">
              <h2  class="brand_title text-center mb-4">Destaques</h2>
            </div>
          </div>

            <div class="row list mx-0">        
                <% for (let i = 0; i < items.length; i++) { %>
                  <div class="col-md-4 col-sm-6 px-md-1 px-1 my-4">
                    <%- await include('@/sections/inc/product-item', {
                      _, opt: { item: items[i] }
                    }) %>
                  </div>
                  
                <% } %>          
            </div>
        </div>
        </section>
      <% } %>
    <%  if(apx_brand && apx_brand.about_title && apx_brand.about_images && apx_brand.about_text){ %>  
    <div class="container-fluid">
      <div class="row">
        <div class="brand_about" id="enologo">
          <div class="brand_gallery" style="grid-template-columns: 50% 50%;">
            <% let sliceBy = apx_brand.about_images.length % 2 == 0 ? apx_brand.about_images.length : apx_brand.about_images.length - 1 %>
            <% for (let item in apx_brand.about_images.slice(0,sliceBy)){ %>                  
              <span>
                <img src="<%- apx_brand.about_images[item].image %>"/>              
              </span> 
            <% } %>
          </div>
          <div class="brand_about-content">
            <h2 class="brand_title text-center mb-4"><%- apx_brand.about_title || 'Sobre o enólogo'%></h2>
            <p class="text-center"><%- apx_brand.about_text || ''%></p>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <div id="produtos">
    <%- await include('@/layout/sections') %>
    </div>
    <%- await include('@/layout/footer') %>
  </main>

  <%- await include('@/json') %>
  <%- await include('@/scripts') %>
</body>

</html>


